.stars {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  
}

.star {
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  animation-name: twinkle;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.star.bright {
  opacity: 1;
}

@keyframes twinkle {
  from { opacity: 0.4; }
  to { opacity: 1; }
}

@keyframes shooting-star {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(75%);
  }
}

.content-div{
  background-repeat:no-repeat ;
  background-size:cover;
  background-position: center;
  height: 250px;;
}
.content-div:hover{
  background-image:  linear-gradient(
    to right,
    rgba(112,157,244,.8),
    hsla(242,74%,61%, .8)
  )!important;
}